{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row mb-5">
        <h1 class="text-center">@{{account.username}}</h1>
        <h4 class="text-center">My Dishes</h4>
        {% if account.dishes %}
        {% for dish in account.dishes.all %}
        <div class="col-6 col-lg-4">
            {% include 'includes/dish_card.html' %}
        </div>
        {% endfor %}
        {% else %}
        <h1 class="text-center">No dishes</h1>
        {% endif %}
    </div>
    <div class="row">
        <h4 class="text-center">Saved Dishes</h4>
        {% if saved_performances %}
        {% for dish in saved_performances %}
        <div class="col-6 col-lg-4">
            {% include 'includes/dish_card.html' %}
        </div>
        {% endfor %}
        {% else %}
        <h1 class="text-center">No dishes</h1>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/like.js' %}"></script>
{% endblock %}