{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/explore.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row g-4">
      <form method="GET" action="">
        <div class="col-12">
          <div class="input-group mb-3">
            <input name="search" type="text" class="form-control" placeholder="Search for Resturants...">
            <button class="btn btn-outline-primary" type="submit">Search</button>
          </div>
        </div>
      </form>
            {% if resturants %}
            {% for resturant in resturants %}
            <div class="col-6 col-lg-4">
                <div class="card shadow">
                    <div class="card-body">
                      <h5 class="card-title">{{resturant.name}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{resturant.cuisine}}</h6>
                      <div class="text-muted text-center small">Last Dishes</div>
                      <div class="row mb-3 align-items-center">
                        {% for dish in resturant.get_last_dishes %}
                        <div class="col-6 col-md-4 text-center mx-auto mb-1">
                            <div class="position-relative">
                                <div class="dish-rating">{{dish.get_rating_display}}</div>
                                <img src="{{dish.media.url}}" class="rounded img-fluid" width="100px" alt="...">
                            </div>
                        </div>
                        {% endfor %}
                      </div>
                      <a href="{% url 'resturant_detail' resturant.pk %}" class="btn btn-primary w-100">Learn More</a>
                    </div>
                  </div>
            </div>
            {% endfor %}
            {% else %}
            <h1 class="text-center">No Results :(</h1>
            {% endif %}
 
    </div>
</div>
{% endblock %}