{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/resturant.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="text-muted">
        <h1 class="text-center title">{{resturant.name}}</h1>
        {% if resturant.address %}
        <h4 class="text-muted text-center lead">{{resturant.address}}</h4>
        {% endif %}
    <div class="row g-4">
    
        {% for dish in resturant.get_active_dishes %}
        <div class="col-6 col-lg-4">
                {% include 'includes/dish_card.html' %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/like.js' %}"></script>
{% endblock %}